*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#323232, #4e085f);
    padding: 10px;
}

.tasks {
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}


.tasks h2 {
    display: flex;
    align-items: center;
    padding: 15px; /* ¡Esto faltaba! */
    color: rgb(0, 0, 0); /* Texto blanco para contraste */
    border-radius: 5px; /* Opcional: para coincidir con el diseño del contenedor */
    margin-bottom: 20px; /* Separación del siguiente elemento */
}

.tasks h2 img {
    width: 30px;
    height: 30;
    margin-left: 10px;
}

