body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#ac02ef,#0fa2d3 );
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-input {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    margin: 60px auto;
    padding: 20px 20px 20px;
    border-radius: 10px;
}

.input-clocker {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: none;
    padding-top: 20px;
}

.clock-column {
    margin-right: 2rem;
    text-align: center;
    position: relative;
}

.clock-column:last-child {
    margin-right: 0;
}

input#time-to {
    padding: 5px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    font-family: monospace;
    text-align: center;
    color: #010101;
    background-color: #fff;
}

.clock-timer {
    color: #131313;
    font-size: 36px;
    line-height: 1;
}

.clock-label {
    padding-top: 10px;
    text-transform: uppercase;
    color: #131313;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid rgba(19, 19, 19, 0.5);
}

.done {
    color: #fff;
    font-weight: 600;
}
